h1 {
  text-align: center;
  color: white;
  margin-top: 0px;
  padding-top: 0.67em;
  font-size: 40px;
  text-shadow: 4px 4px 2px black;
  font-family: serif;
}

#flexcont {
  display: flex;
}

body {
  /* position: absolute;
  z-index: -1;
  width: 50%;
  height: 150%; */
  background-image: url("/assets/emma31.tripod.com/backs/bgnebula.gif");
  /* background-image: url("/assets/emma31.tripod.com/backs/bgbluestars.gif"); */
  /* background-image: url("/assets/emma31.tripod.com/backs/Galaxy0.gif"); */
  /* background-image: url("/assets/emma31.tripod.com/backs/greensparkle.gif"); */
  /* background-image: url("/assets/emma31.tripod.com/backs/purplestars.gif"); */
  /* background-image: url("/assets/emma31.tripod.com/backs/design.gif"); */
  background-image: url("/assets/emma31.tripod.com/backs/space2.gif");
}

body {
  /* background-image: url("/assets/emma31.tripod.com/backs/space2.gif"); */
}

#otherbg {
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 150%;
  left: 50%;
  /* background-image: url("/assets/img/backgrounds-with-emma/bgtancrack.gif"); */
}

#half {
  width: 50%;
  float: left;
}

#other {
  left: 50%;
  width: 50%;
}

.paper {
  margin: auto;
  margin-top: 32px;
  padding: 20px 30px;
  width: 60%;
  max-width: 600px;
  font-size: 12pt;
  font-family: "Luminari";
  background-color: aliceblue;
  box-shadow: 8px 8px 2px black;
}

#welcome {
  text-align: center;
}

#welcomepic {
  width: 500px;
}

body {
  margin: 0px;
}

#message {
  text-align: center;
}

#crtbox {
  text-align: center;
}

#crt {
  width: 40%;
  max-width: 400px;
  border: 10px ridge limegreen;
}

/* #links {
  float: left;
  margin-left: 5%;
} */
#emmabanner {
  text-align: center;
}

#clipoftheweek {
  text-align: center;
}

/* * {
  outline: 1px solid red !important;
} */
