p {
  font-family: monospace;
}

#message {
  text-align: center;
}

#crtwrapper {
  margin: auto;
  width: 40%;
  height: 100%;
  max-width: 300px;
}

#crtbox {
  float: left;
  padding-bottom: 75%;
  width: 100%;
  height: 100%;
  background-color: black;
}

#links {
  float: left;
  margin-left: 5%;
}

#clipoftheweek {
  text-align: center;
}

a:hover {
  background-color: green;
}

* {
  outline: 1px solid red !important;
}
